.sidenav
  background-color #313131
  height 70%
  width 200px
  position absolute
  left 0px
  margin-top 46px
  overflow auto
  font-family Arial
  font-size 14px
  color gray
  .headermain
    margin-left 20px
  .header
    margin-top 30px
    margin-left 20px
  .subheader
    height 30px
    width auto
    &:hover
      color white
    .material-icons
      font-size 18px
      padding-left 20px
      margin-right 10px
.addPlaylist
  border-top solid black 1px
  padding-top 10px
  background-color #313131
  font-size 16px
  font-family Arial
  color gray
  height 40px
  width 200px
  position absolute
  bottom 111px
  &:hover
     background-color #484848
     color white
  .material-icons
    padding-left 20px
    font-size 20px
    padding-right 15px
