.topnav
  background-color #313131
  position fixed
  height 35px
  width 100%
  margin-right 15px
  padding-left 30px
  padding-top 10px
  .searchbar
    border-radius 20px
    height 20px
    width 250px
    font-size 12px
    padding-left 20px
  .name
    font-sixe 12px
    color gray
    position absolute
    right 0px
    top 0px
    margin-right 100px
    &:hover
      color white
  .material-icons
    color gray
    position absolute
    right 0px
    padding-top 2px
    margin-right 50px
    padding
    &:hover
      color white